body {
	background-image: url(../images/back.jpg);
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
a {
	color: cyan;
}
a:hover {
	cursor: pointer;
}
#content {
	color: white;
	text-align: center;
	font-family: "Courier New", monospace;
}
#content #box img {
	background-color: rgba(135, 206, 250, 0.5);
	padding: 2px;
	margin: 0;
	overflow: hidden;
	border: 2px solid #070C1C;
}
